name: Secrets

on:
  push:
    branches:
          - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run a script
        evn:
                FIRST_SECRATE: ${{ secrets.FIRST_SECRATE}}
      - run: echo "This is first secrate key $FIRST_SECRATE"
